.business-fields-section {
    height: auto;
}

.business-fields-information {
    text-align: center;
    margin-bottom: 30px;
}

.business-fields-information .paragraph {
    font-size: 15px;
}

.field {
    height: 250px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 5px;

    transition: 0.3s ease;
}

.field:hover {
    transform: scale(1.03);
}

.field:hover {
    cursor: help;
}

.field.opacity-overlay:before {
    border-radius: 5px;
}

.field .sub-heading {
    position: relative;
    color: white;

    text-transform: capitalize;
    font-size: 20px;
}